<div ng-controller='dashboardController'>
<!-- navigation -->
	<div>
	  <h4>
	  <a href="#/detail" style="margin-right: 30px">Bicket List</a>
	  <a href="#/dashboard" style="margin-right: 30px">Home</a>
	  <a href="#/">Logout</a>
	  </h4>
	</div><br>

	<div>
		<h1>Welcome, {{currentUser.name}}!</h1>
	</div>
	<form class="form-inline">
		<!-- <input type="hidden" ng-model="newl.owner" ng-value="currentUser.name"> -->
		<!-- <input type="hidden" ng-model="newl.owner" value="232323223323"> -->
		<input class="form-control" type="text" ng-model="newl.title" placeholder="Title" style="width: 25%">
		<input class="form-control" type="text" ng-model="newl.description" placeholder="Description" style="width: 35%">
		
			<select ng-model='newl.buddyl'>
				<!-- <option>Select a buddy</option> -->
				<!-- the if does not work, try filter -->
				<div ng-if="user.name != currentUser.name">
					<!-- <option ng-repeat="user in allUsers" value="user._id">{{user.name}}</option> -->
					<option ng-repeat="user in allUsers" >{{user.name}}</option>
				</div>
			</select>
		<!-- I was not able to make hidden value work so I passed on currentUser to the newList() -->
		<input type="submit"  ng-click='newList(currentUser)' value="Add to List">
	</form>
	</br>

<!--  This was a helper for me to understand -->
	<p>This is not part of the feature only testing a complete loop</p>
	<form class="form-inline"> 
		<input class="form-control" type="text" name="testName" ng-model="test.name" placeholder="enter a name" style="width: 25%">
		<input class="form-control" type="text" name="testOptionalName" ng-model="test.optionalname" placeholder="enter an optional name" style="width: 25%">
		<input type="submit" ng-click='testCreate()' value="Testing">
		<p>New entry in the db happened, the id is: {{test._id}}</p>
	</form>
	</br>
<!-- end of test -->

	<H3>In my life time I want to:</H3>
	<div>          
	    <table class="table table-striped" style="border:1px solid tan;">
	        <thead>
	            <tr>
	                <th>Completed</th>
	                <th>Name</th>
	                <th>Title</th>
	                <th>Description</th>
	                <th>Created</th>
	            </tr>
	        </thead>
	        <tbody>
	        	 <!-- <td ng-if='bucketLists'>'blist in bucketLists'></td> -->
	        	<tr ng-repeat= 'blist in allblist'>
<!-- 	        		<td ng-if="(blist.ownerl != currentUser.name && blist.buddyl != currentUser.name) && blist.done == false">
		            	<input type="checkbox" disabled>
		            </td>
		            <td ng-if="(blist.ownerl != currentUser.name && blist.buddyl != currentUser.name) && blist.done == true">
		            	<input type="checkbox" disabled checked>
		            </td>
	               	<td ng-if="(blist.ownerl == currentUser.name || blist.buddyl == currentUser.name) && blist.done == false">
		            	<input type="checkbox" ng-click='blistDone(blist)'>
		            </td>
		            <td ng-if="(blist.ownerl == currentUser.name || blist.buddyl == currentUser.name) && blist.done == true">
		            	<input type="checkbox" checked ng-click='blistDone(blist)'>
		            </td> -->
		            <!-- replaced the code above with a code bellow -->
		            <td>
						<input type="checkbox" ng-checked="blist.done" ng-disabled="blist.ownerl != currentUser.name && blist.buddyl != currentUser.name" ng-click='blistDone(blist)'/>
					</td>
		            <td>{{blist.ownerl}}</td>
	                <td>{{blist.title}}</td>
	                <td>{{blist.description}}</td>
	                <td>{{blist.createdAt | date : MMM.d.yyyy.hh.mm}}</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	</br>

	<h3>List of other users</h3>
	<p>Click to view profile</p>
	<div ng-repeat="user in allUsers | orderBy: 'name'" >
		<div ng-if="user.name != currentUser.name ">
			<!-- <p><a href="#/detail/{{user._id}}">{{user.name}} - {{user._id}}</a></p> -->
			<a href="#/detail/{{user._id}}" ng-click='newList(user, currentUser)'>{{user.name}} - {{user._id}}</a></p>
		</div>
	</div>
</div>



