<tr ng-repeat= 'blist in allblist'>
<td>
	<input type="checkbox" ng-checked="blist.done" ng-disabled="blist.ownerl != currentUser.name && blist.buddyl != currentUser.name"/>
</td>
<!-- same as  -->
<tr ng-repeat= 'blist in allblist'>
	<td ng-if="(blist.ownerl != currentUser.name && blist.buddyl != currentUser.name) && blist.done == false">
    	<input type="checkbox" disabled>
    </td>
    <td ng-if="(blist.ownerl != currentUser.name && blist.buddyl != currentUser.name) && blist.done == true">
		<input type="checkbox" disabled checked>
	</td>
   	<td ng-if="(blist.ownerl == currentUser.name || blist.buddyl == currentUser.name) && blist.done == false">
    	<input type="checkbox" ng-click='blistDone(blist)'>
    </td>
    <td ng-if="(blist.ownerl == currentUser.name || blist.buddyl == currentUser.name) && blist.done == true">
    	<input type="checkbox" checked ng-click='blistDone(blist)'>
    </td>